<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Nile eCommerce</title>
        <!-- custom meta -->
        <meta name="author" content="Elsayed Hussein">
        <!-- [ ] complete keywords -->
        <meta name="keywords" content="eCommerce,pc, desktop">
        <!-- [ ] complete description -->
        <meta name="description" content="eCommerce Web Store for :*******">
        <meta name='copyright' content="Elsayed Hussein">
        <meta name='robots' content='index,follow'>
        <!-- [ ] complete cookie -->
        <!-- <meta http-equiv = "cookie" content = "userid = xyz; expires = Wednesday, 08-Aug-15 23:59:59 GMT;" /> -->
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap"
            rel="stylesheet">
        <!-- css -->
        <link rel="stylesheet" href="./assets/css/style.min.css">
        <!-- Page Icon -->
        <link rel="icon" type="image/png" href="./assets/imgs/icon.png" />
    </head>

    <body>
        <!-- Start Nav -->
        <header class="navbar">
            <!-- Start Top Nav -->
            <nav class="navbar__top">
                <div class="navbar__topTell">
                    <a href="tel:+20111348474">📞 <span>Call Us !</span> </a>
                </div>
                <div class="navbar__topWelcome">
                    <p>
                        🔥✨🔥
                        <span>
                            Welcome To Our Store
                        </span>
                        🔥✨🔥
                    </p>
                </div>
                <div class="navbar__topLang">
                    <ul class="navbar__topList">
                        <li class="navbar__topListItem" style="display:none ;">
                            <img src="./assets/imgs/en.png" alt="EN lang">
                            <span>
                                English
                            </span>
                        </li>
                        <li class="navbar__topListItem">
                            <img src="./assets/imgs/ar.png" alt="AR lang">
                            <span>
                                عربي
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Top Nav -->
            <!-- Start Mid Nav -->
            <nav class="navbar__mid">
                <div class="navbar__midLogo">
                    <h1 class="logo">
                        <span>
                            El Nile
                        </span>
                        eCommerce
                    </h1>
                </div>
                <div class="navbar__midSearch">
                    <input type="text">
                    <button> Search</button>
                </div>

            </nav>
            <!-- End Mid Nav -->
        </header>
        <!-- End Nav -->
        <h1>Lorem, ipsum.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reprehenderit eaque quis numquam
            sapiente nam voluptates fuga consectetur a veniam?</p>

    </body>

</html>