<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Nile eCommerce</title>
        <!-- custom meta -->
        <meta name="author" content="Elsayed Hussein">
        <!-- [ ] complete keywords -->
        <meta name="keywords" content="eCommerce,pc, desktop">
        <!-- [ ] complete description -->
        <meta name="description" content="eCommerce Web Store for :*******">
        <meta name='copyright' content="Elsayed Hussein">
        <meta name='robots' content='index,follow'>
        <!-- [ ] complete cookie -->
        <!-- <meta http-equiv = "cookie" content = "userid = xyz; expires = Wednesday, 08-Aug-15 23:59:59 GMT;" /> -->
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap"
            rel="stylesheet">
        <!-- css -->
        <link rel="stylesheet" href="./assets/css/style.min.css">
        <!-- Page Icon -->
        <link rel="icon" type="image/png" href="./assets/icon.png" />
    </head>

    <body>
        <!-- Start Nav -->
        <header class="navbar">
            <!-- Start Top Nav -->
            <nav class="navbar__top">
                <div class="navbar__top--stockStatus">
                    <input type="checkbox" name="stockStatus" id="stockStatus">
                    <label for="stockStatus">Out Of Stock</label>

                </div>
            </nav>
            <!-- End Top Nav -->
        </header>
        <!-- End Nav -->
        <h1>Lorem, ipsum.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reprehenderit eaque quis numquam
            sapiente nam voluptates fuga consectetur a veniam?</p>

    </body>

</html>