<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Nile eCommerce</title>
        <!-- custom meta -->
        <meta name="author" content="Elsayed Hussein">
        <!-- [ ] complete keywords -->
        <meta name="keywords" content="eCommerce,pc, desktop">
        <!-- [ ] complete description -->
        <meta name="description" content="eCommerce Web Store for :*******">
        <meta name='copyright' content="Elsayed Hussein">
        <meta name='robots' content='index,follow'>
        <!-- [ ] complete cookie -->
        <!-- <meta http-equiv = "cookie" content = "userid = xyz; expires = Wednesday, 08-Aug-15 23:59:59 GMT;" /> -->
        <!-- css -->
        <link rel="stylesheet" href="./assets/css/style.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap"
            rel="stylesheet">
        <!-- Page Icon -->
        <link rel="icon" type="image/png" href="./assets/icon.png" />
    </head>

    <body>
        <!-- Start Nav -->
        <header>
            <!-- Start Top Nav -->
            <nav id="top-nav" class="top-nav">
                <div id="stock-status" class="stock-status">

                </div>
            </nav>
            <!-- End Top Nav -->
        </header>
        <!-- End Nav -->

    </body>

</html>