html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-Cairo);
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
