.navbar {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--border-color-light);
    background-color: var(--navbar-color-light);
    min-height: 2rem;
    font-size: 0.75rem;
    &Tell {
      letter-spacing: 0.1rem;
      span {
        margin-right: 0.1rem;
      }
    }
    &Welcome {
      p {
        margin: 0;
        letter-spacing: 0.15rem;
        span {
          margin: 0 0.25rem;
        }
      }
    }
    &List {
      display: flex;
      margin: 0;
      margin-left: 2rem;
      padding: 0;
      cursor: pointer;
      &Item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        img {
          width: 1.5rem;
        }
        span {
          margin-left: 0.25rem;
        }
      }
    }
  }
  &__mid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem 0;
    &Logo {
      font-size: 1rem;
      h1 {
        margin: 0;
        span {
          font-size: 2rem;
          color: var(--logo-color-light);
        }
      }
    }
    &Search {
      background-color: var(--navbar-color-light);
      padding: 0.25rem;
      width: 40%;

      border-radius: 3rem;
      form {
        display: flex;
        align-items: center;
        justify-content: space-around;

        input {
          &:focus {
            outline: none;
            border-bottom: 0.1rem dashed gray;
          }
          margin: 0.25rem;
          padding: 0.5rem;
          width: 75%;
          border: none;
          background-color: var(--navbar-color-light);
        }
        button {
          border-radius: 3rem;
          padding: 1rem;
          color: var(--background-color-light);
          border: 0.05rem solid gray;
          background-color: var(--logo-color-light);
        }
      }
    }
    &Cart {
      display: flex;
      &Right {
        position: relative;
        margin-right: 1rem;
        i {
          font-size: 2.75rem;
        }
        span {
          position: absolute;
          top: 0.35rem;
          right: 2.3rem;
          width: 2rem;
          height: 2rem;
          text-align: center;
          color: var(--border-color-light);
          border: 0.1rem solid var(--border-color-light);
          border-radius: 50%;
          background-color: var(--logo-color-light);
        }
      }
      &Lift {
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
          color: var(--logo-color-light);
          span {
            font-size: small;
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .navbar__topWelcome {
    display: none;
  }
}
@media (max-width: 479px) {
  .navbar__topListItem span,
  .navbar__topTell span {
    display: none;
  }
}
